doctype html
html
    head
        meta(charset="UTF-8")
        title="Hello Pug"
    body
        form(action="http://localhost:3000/test.jpg" method="GET")
            p First name: 
                input(type="text" name="first_name")
            p Last name: 
                input(type="text" name="last_name")
            input(type="submit" value="Submit")